body
{
  width: 90%;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 1.1em;
  padding: 6%;
}

img.align-center
{
  display: block;
  margin:0% auto;
}

img.header
{
  width: 60%;
  height: auto;
  padding-bottom: 3%;
}

img.profile
{
  width: 60%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 3%;
}

img.separator
{
  width:50%;
  height:10%;
}

img.separator2
{
  width:50%;
  height:10%;
}

img.aboutme
{
  width: 45%;
  height: 3.5%;
  padding-top: 5%;
  padding-bottom: 3%;
}

p
{
  line-height: 1.5em;
}

.bio
{
  width: 80%;
  font-size: 1em;
  text-align: center;
  padding-left: 7%;
}

.bio2
{
  width: 90%;
  font-size: 1em;
  text-align: center;
  padding-left: 1%;
}

.bio3
{
  width: 95%;
  font-size: 1em;
  text-align: center;
}


img.map
{
  width: 80%;
  height: 50%;
}

.moreinfo
{
  line-height: 1.5em;
  text-align: left;
  font-size: 0.9em;
  padding-top: 3%;
  padding-bottom: 1%;
  padding-left: 5%;
}

.map
{
  float: right;
  padding-right: 6%;
}
